<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663069288625-92e71r3gihuj8orbl4osarekfi54v83o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663069288625-92e71r3gihuj8orbl4osarekfi54v83o</string>
	<key>API_KEY</key>
	<string>AIzaSyC7bafrTAs-NNE0JnZE7oAhM8dIpUh0FjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>663069288625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>truongnh.GymCare</string>
	<key>PROJECT_ID</key>
	<string>gymcare-73af6</string>
	<key>STORAGE_BUCKET</key>
	<string>gymcare-73af6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663069288625:ios:61afb8b0dc8b1339cbda90</string>
</dict>
</plist>